@model IEnumerable<Testing.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/Custom/customerManager.js"></script>

<div class="jumbotron">
    <h1>Testing</h1>
    <p class="lead">This is a VERY simple demonstration on how testing can be done, soup to nuts, using Nunit and Selenium.  Nunit test the soup (backend) and Selenium tests the nuts (frontend)</p>
    <p><a href="http://seleniumhq.org" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <table id="customerDisplayTable">
            <tr>
                <td><strong>Name</strong></td>
                <td style="padding-left: 10px;"><strong>Date Of Birth</strong></td>
            </tr>
            @foreach (var customer in Model)
            {
                <tr id=@customer.CustomerId onclick="setUpdateFields(@customer.CustomerId, '@customer.FirstName', '@customer.LastName', '@customer.DateOfBirth')">
                    <td><span id=custFullName_@customer.CustomerId>@customer.FullName</span></td>
                    <td style="padding-left: 10px;"><span id=custDOB_@customer.CustomerId>@customer.DateOfBirth</span></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <h2>Update Customer</h2>
        <input type="hidden" id="updateCustomerId"/>
        <table>
            <tr>
                <td><strong>First Name:</strong></td>
                <td style="padding-left: 10px;"><input id="updateCustomerFirstName" type="text" /></td>
            </tr>
            <tr>
                <td><strong>Last Name:</strong></td>
                <td style="padding-left: 10px;"><input id="updateCustomerLastName" type="text" /></td>
            </tr>
            <tr>
                <td><strong>Date Of Birth:</strong></td>
                <td style="padding-left: 10px;"><input id="updateCustomerDOB" type="text" /></td>
            </tr>
        </table>
        <br />
        <p class="btn btn-default" onclick="updateCustomer();">Update</p>
    </div>
    <div class="col-md-4">
        <h2>Add Customer</h2>
        <table>
            <tr>
                <td><strong>First Name:</strong></td>
                <td style="padding-left: 10px;"><input id="newCustomerFirstName" type="text"/></td>
            </tr>
            <tr>
                <td><strong>Last Name:</strong></td>
                <td style="padding-left: 10px;"><input id="newCustomerLastName" type="text"/></td>
            </tr>
            <tr>
                <td><strong>Date Of Birth:</strong></td>
                <td style="padding-left: 10px;"><input id="newCustomerDOB" type="text"/></td>
            </tr>
        </table>
        <br/>
        <p class="btn btn-default" onclick="addNewCustomer();">Add</p>
    </div>
</div>

